#last {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    overflow: hidden;
}

#last .swiper-container {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	box-sizing: border-box;
	overflow: hidden;
}

#last .swiper-slide {
	background-position: center;
	background-size: cover;
	width: 300px;
	height: 60vh;
}
